.input__wrapper {
  $border-color: $outline-color;

  position: relative;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";

    position: absolute;
    bottom: -6px;
    left: 0;

    width: 100%;
    height: 1px;

    opacity: 0;

    background-color: $primary-color;

    transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &:focus-within {
    &::after {
      bottom: 0;

      opacity: 1;
    }
    &::before {
      bottom: 6px;

      opacity: 0;
    }
  }

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $border-color;

    transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.input {
  width: 100%;

  padding: 10px 0;

  outline: none;
  border: none;

  background-color: transparent;
  color: $white-color;

  transition: all $default-transition-delay;

  &::placeholder {
    color: transparent;
    user-select: none;
  }

  &:disabled {
    color: $disabled-font-color;
    .input__wrapper {
      --border-color: $disabled-bg-color;
    }
  }

  &:read-only {
    color: $disabled-font-color;
  }
}

.input--invalid {
  --border-color: $danger-color;
  .input {
    color: $danger-color;
  }
}

.input--readonly {
  --border-color: $disabled-bg-color;
}

.input__label {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;

  color: $disabled-font-color;

  cursor: text;

  user-select: none;
  pointer-events: none;

  transition: all $default-transition-delay;
}

.input:focus + .input__label,
.input:not(:placeholder-shown) + .input__label {
  translate: 0 calc(-100% - 10px);

  font-size: 12px;
}

.input__button {
  width: 16px;
  max-width: 16px;
  height: 16px;
  max-height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: $white-color;

  border: none;

  margin-right: 4px;

  cursor: pointer;
}
