.radio_item__wrapper {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.radio_item {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-content: center;

  background-color: transparent;
  color: var(--white-color);

  border: 1px solid var(--outline-color);
  border-radius: 6px;

  font-size: 14px;
  font-weight: 400;
  text-align: start;

  padding: 12px;

  transition: background-color var(--fast--transition-delay);

  &[data-disabled] {
    opacity: 0.5;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:not(:disabled):hover {
    background-color: var(--bg-light-color);
  }

  &--selected {
    border-color: var(--primary-active-color);
  }

  &--invalid {
    border-color: var(--danger-color);
  }

  &--success {
    border-color: var(--success-color);
  }
}
