.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  transition: all var(--fast--transition-delay);

  border: none;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.button--primary:hover {
  background-color: var(--primary-hover-color);
}

.button--primary:active {
  background-color: var(--primary-active-color);
}

.button--primary:disabled, .button--secondary:disabled {
  background-color: var(--disabled-bg-color);
  color: var(--disabled-font-color);
}

.button--secondary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

.button--secondary:hover {
  background-color: var(--secondary-hover-color);
}

.button--secondary:active {
  background-color: var(--secondary-active-color);
}

.button--plain {
  background-color: transparent;
  color: var(--white-color);
}

.button--plain:disabled {
  color: var(--disabled-font-color);
}

.button--large {
  width: 40px;
  height: 40px;

  border-radius: 12px;
}

.button--medium {
  width: 32px;
  height: 32px;

  border-radius: 10px;
}

.button--small {
  width: 24px;
  height: 24px;

  border-radius: 6px;
}
